apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: tictactoe-ingress
spec:
  rules:
  - host: tictactoe.domain.placeholder
    http:
      paths:
      - path: /
        backend:
          serviceName: tictactoe
          servicePort: 80
