apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: hipstershop-ingress
spec:
  rules:
  - host: hipstershop.domain.placeholder
    http:
      paths:
      - path: /
        backend:
          serviceName: frontend
          servicePort: 80
