apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: simplcommerce-ingress
spec:
  rules:
  - host: simplcommerce.domain.placeholder
    http:
      paths:
      - path: /
        backend:
          serviceName: simplcommerce
          servicePort: 80
