apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: nginx
    # We allow HTTP and HTTPS
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
  name: simplenode-ingress
spec:
  rules:
  - host: simplenode.domain.placeholder
    http:
      paths:
      - path: /
        backend:
          serviceName: simplenode
          servicePort: 8080
  tls:
  - hosts:
    - domain.placeholder
